{
	"template_dir": "templates",
	"content_dir": "contents",
	"output_dir": "output",

	"server": {
		"port": 9009
	},

	"bundles": {
		"/css/all.css": [
			"/css/bootstrap.min.css",
			"/css/main.css"
		],
		"/js/all.js": [
			"/js/jquery-2.0.3.min.js",
			"/js/bootstrap.min.js"
		]
	}
}
