
            <div class="container">
                <blockquote>
                    <p>Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots. So far, the Universe is winning.</p>
                    <small>Rich Cook</small>
                </blockquote>

                <div data-send="true" data-width="400" data-show-faces="false" class="fb-like"></div>

                <hr>

                <footer>
                    <p>&copy; Rocco Zanni 2013</p>
                </footer>
            </div>

            <script type="text/javascript">var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{{ga-account-id}}}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>

            <div id="fb-root"></div>
            <script type="text/javascript">(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>

            {{#javascript_bundle}}/js/all.js{{/javascript_bundle}}


        </body>

</html>
