{{> header }}

    <div class="container">
        <h1>About this website</h1>

        <p class="lead">a.k.a. the experiment of a "server-less" website</p>

        <p>
            I wanted a basic website, just a place in the network to update two or three times a year without too many hassles.
            Something that does not requires to be upgraded in order to fix some security issue, that needs a database, a shared
            hosting, an installation of some kind of software.
        </p>

        <p>
            I don't even wanted to have something too much "blog-oriented", because I knew that I'm not that kind of person
            that spend some time two or three times a week to write about things. Because I'm lazy, and I know it.
        </p>

        <p>
            Some times ago I read something about this VERY simple software called <a href="https://github.com/laktek/punch" target="_blank">punch</a>,
            a Node.JS based command line tool that allows you to create websites using smart tools and libraries (like markdown and mustache),
            supports useful things like assets bundling, and compile everything to plain old HTML, so you don't need a server-side
            environment anymore, but just a webserver that serves static files.
        </p>

        <p>
            So, <a href="http://aws.amazon.com/s3/" target="_blank">S3</a> comes to rescue! For the few people in the world that
            doesn't know it, S3 is a simple HTTP based key-value store provided by Amazon. What does it means? Basically means
            that you can store your html files and assets on S3, and <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html" target="_blank">configure it to serve your website</a>, so you don't even need a webserver anymore.
        </p>

    </div>

{{> footer }}