{{> header }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Rocco Zanni</h1>
            <p>This is my personal homepage. You can find here informations about me, my work and my personal projects</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Spreaker</h2>
                <p>Spreaker is the startup I co-founded in 2009. Create your own live pocast, it's easy, funny and free.</p>
                <p><a class="btn btn-primary" href="http://www.spreaker.com" role="button" target="_blank">View details &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Social</h2>
                <p>That's me in the social world. You can find here links to my profile in almost every social platform.</p>
                <p><a class="btn btn-primary" href="http://about.me/rocco.zanni" role="button" target="_blank">View details &raquo;</a></p>
           </div>

            <div class="col-md-4">
                <h2>Development</h2>
                <p>My github account. You can find opensource code I want to share with everyone interested in. There is also the code of this website</p>
                <p><a class="btn btn-primary" href="https://github.com/roccozanni" role="button" target="_blank">View details &raquo;</a></p>
            </div>
        </div>
    </div>

{{> footer }}

